In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

import dataset
import utils

%matplotlib inline

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

sns.set_style('whitegrid')

plt.rcParams['figure.figsize'] = (18.0, 12.0)

In [2]:
carac = pd.read_csv("dataset/caracteristics.csv", encoding="latin-1", low_memory=False)
places = pd.read_csv("dataset/places.csv", encoding="utf-8", low_memory=False)
users = pd.read_csv("dataset/users.csv", encoding="utf-8", low_memory=False)
vehicles = pd.read_csv("dataset/vehicles.csv", encoding="utf-8", low_memory=False)
holi = pd.read_csv("dataset/holidays.csv", encoding="utf-8", low_memory=False)

In [3]:
carac = carac.rename(columns=dataset.column_names)
places = places.rename(columns=dataset.column_names)
users = users.rename(columns=dataset.column_names)
vehicles = vehicles.rename(columns=dataset.column_names)
holi = holi.rename(columns=dataset.column_names)

In [ ]:
carac.head()

In [4]:
def to_datetime(r):
    hhmm = "%04d" % (r['Hour'])
    hh = hhmm[:2]
    mm = hhmm[-2:]
    date = "2%03d/%02d/%02d %s:%s" % (r['Year'] , r['Month'], r['Day'], hh, mm)
    r = pd.to_datetime(date, format='%Y/%m/%d %H:%M')
    return r

def par(data):
    return data.apply(to_datetime, axis=1)
 
carac['DateTime'] = utils.parall_df(carac, par)

In [5]:
carac['Date'] = carac['DateTime'].dt.date
carac['Time'] = carac['DateTime'].dt.time
carac['Hour'] = carac['DateTime'].dt.hour
carac['Minute'] = carac['DateTime'].dt.minute
carac['Weekdays'] = carac['DateTime'].dt.dayofweek # Monday=0, Sunday=6

In [ ]:
carac.head()

In [ ]:
holi.head()

In [6]:
from datetime import timedelta
period = 7
delta = timedelta(days=period)

holi['ds'] = pd.to_datetime(holi['ds'])
holi_range = pd.DataFrame()

for index, row in holi.iterrows():
    date = pd.to_datetime(row['ds'])
    dates = pd.date_range(date - delta, periods=1+(period*2), freq='d')
    days = dates.day
    months = dates.month
    holiday_ranges = dates - date
    df = pd.DataFrame({'Month': months, 'Day': days, 'HolidayRange': holiday_ranges.days})
    df['Holiday'] = row['holiday']
    holi_range = pd.concat([holi_range, df], ignore_index=True)

In [ ]:
holi_range.head()

In [ ]:
places.head()

In [ ]:
users.head()

In [7]:
users['Users'] = 1
users = utils.dummies(users, 'UserCategory')
users = utils.dummies(users, 'Severity')
users = utils.dummies(users, 'Sex')


# users = utils.dummies(users, 'SafetyEquipment')
# users['DriverBirthday'] = users['an_nais'][users['Driver']]
# users.head()

In [ ]:
#users.columns.values

In [8]:
columns = [
    'AccidentID', 'Users',
    'UserCategory_1', 'UserCategory_2', 'UserCategory_3', 'UserCategory_4', 
    'Severity_1', 'Severity_2', 'Severity_3', 'Severity_4', 
    'Sex_1', 'Sex_2'
]
group_users = users[columns].groupby(['AccidentID'])

In [27]:
agg_users = group_users.agg('sum')
agg_users['AccidentID'] = agg_users.index
agg_users.head()

              Users  UserCategory_1  UserCategory_2  UserCategory_3  UserCategory_4  Severity_1  Severity_2  Severity_3  Severity_4  Sex_1  Sex_2    AccidentID
AccidentID
200500000001      6               2               4               0               0           4           0           1           1      4      2  200500000001
200500000002      2               2               0               0               0           1           0           1           0      2      0  200500000002
200500000003      2               2               0               0               0           1           0           1           0      2      0  200500000003
200500000004      4               3               1               0               0           0           0           2           2      2      2  200500000004
200500000005      2               1               1               0               0           0           0           1           1      2      0  200500000005

In [ ]:
users[users['AccidentID'] == 200500000004]

In [ ]:
vehicles[vehicles['AccidentID'] == 200500000004]

In [ ]:
vehicles.head()

In [10]:
vehicles['Vehicles'] = 1

In [11]:
column = [
    'AccidentID', 'Vehicles'
]
group_vehicles = vehicles[column].groupby(['AccidentID'])
group_vehicles.head()

           AccidentID  Vehicles
0        201600000001         1
1        201600000001         1
2        201600000002         1
3        201600000003         1
4        201600000004         1
5        201600000004         1
6        201600000005         1
7        201600000005         1
8        201600000006         1
9        201600000007         1
10       201600000007         1
11       201600000008         1
12       201600000008         1
13       201600000009         1
14       201600000009         1
15       201600000010         1
16       201600000011         1
17       201600000012         1
18       201600000013         1
19       201600000014         1
20       201600000014         1
21       201600000014         1
22       201600000015         1
23       201600000015         1
24       201600000015         1
25       201600000016         1
26       201600000016         1
27       201600000016         1
28       201600000017         1
29       201600000018         1
30       201600000018         1
31       201600000019         1
32       201600000019         1
33       201600000019         1
34       201600000020         1
35       201600000020         1
36       201600000021         1
37       201600000022         1
38       201600000022         1
39       201600000023         1
40       201600000024         1
41       201600000025         1
42       201600000026         1
43       201600000027         1
44       201600000028         1
45       201600000028         1
46       201600000029         1
47       201600000029         1
48       201600000030         1
49       201600000031         1
50       201600000031         1
51       201600000032         1
52       201600000032         1
53       201600000033         1
54       201600000034         1
55       201600000034         1
56       201600000035         1
57       201600000036         1
58       201600000036         1
59       201600000037         1
60       201600000038         1
61       201600000038         1
62       201600000039         1
63       201600000040         1
64       201600000041         1
65       201600000041         1
66       201600000042         1
67       201600000043         1
68       201600000044         1
69       201600000045         1
70       201600000046         1
71       201600000047         1
72       201600000047         1
73       201600000048         1
74       201600000049         1
75       201600000050         1
76       201600000050         1
77       201600000051         1
78       201600000051         1
79       201600000052         1
80       201600000052         1
81       201600000053         1
82       201600000054         1
83       201600000054         1
84       201600000055         1
85       201600000056         1
86       201600000057         1
87       201600000057         1
88       201600000058         1
89       201600000059         1
90       201600000060         1
91       201600000060         1
92       201600000061         1
93       201600000062         1
94       201600000062         1
95       201600000063         1
96       201600000063         1
97       201600000064         1
98       201600000065         1
99       201600000066         1
100      201600000066         1
101      201600000067         1
102      201600000067         1
103      201600000068         1
104      201600000068         1
105      201600000069         1
106      201600000070         1
107      201600000070         1
108      201600000071         1
109      201600000071         1
110      201600000072         1
111      201600000073         1
112      201600000073         1
113      201600000074         1
114      201600000075         1
115      201600000075         1
116      201600000076         1
117      201600000076         1
118      201600000077         1
119      201600000077         1
120      201600000078         1
121      201600000079         1
122      201600000080         1
123      201600000081         1
124      201600000081         1
125      201600000082         1
126      201600000082         1
127      201600000082         1
128      201600000083         1
129      201600000083         1
130      201600000084         1
131      201600000084         1
132      201600000085         1
133      201600000086         1
134      201600000087         1
135      201600000087         1
136      201600000088         1
137      201600000088         1
138      201600000089         1
139      201600000089         1
140      201600000090         1
141      201600000091         1
142      201600000092         1
143      201600000093         1
144      201600000094         1
145      201600000094         1
146      201600000095         1
147      201600000095         1
148      201600000096         1
149      201600000096         1
150      201600000097         1
151      201600000098         1
152      201600000098         1
153      201600000099         1
154      201600000100         1
155      201600000101         1
156      201600000101         1
157      201600000101         1
158      201600000102         1
159      201600000102         1
160      201600000103         1
161      201600000104         1
162      201600000104         1
163      201600000105         1
164      201600000106         1
165      201600000107         1
166      201600000108         1
167      201600000108         1
168      201600000109         1
169      201600000109         1
170      201600000110         1
171      201600000111         1
172      201600000112         1
173      201600000113         1
174      201600000114         1
175      201600000114         1
176      201600000115         1
177      201600000116         1
178      201600000117         1
179      201600000118         1
180      201600000119         1
181      201600000119         1
182      201600000120         1
183      201600000120         1
184      201600000121         1
185      201600000122         1
186      201600000122         1
187      201600000122         1
188      201600000123         1
189      201600000124         1
190      201600000124         1
191      201600000125         1
192      201600000126         1
193      201600000126         1
194      201600000127         1
195      201600000127         1
196      201600000128         1
197      201600000129         1
198      201600000130         1
199      201600000130         1
200      201600000131         1
201      201600000132         1
202      201600000132         1
203      201600000133         1
204      201600000134         1
205      201600000135         1
206      201600000135         1
207      201600000136         1
208      201600000137         1
209      201600000138         1
210      201600000138         1
211      201600000139         1
212      201600000139         1
213      201600000140         1
214      201600000141         1
215      201600000142         1
216      201600000143         1
217      201600000144         1
218      201600000145         1
219      201600000145         1
220      201600000146         1
221      201600000146         1
222      201600000147         1
223      201600000147         1
224      201600000148         1
225      201600000149         1
226      201600000149         1
227      201600000150         1
228      201600000151         1
229      201600000152         1
230      201600000153         1
231      201600000154         1
232      201600000155         1
233      201600000156         1
234      201600000156         1
235      201600000157         1
236      201600000157         1
237      201600000158         1
238      201600000159         1
239      201600000159         1
240      201600000160         1
241      201600000161         1
242      201600000161         1
243      201600000162         1
244      201600000163         1
245      201600000163         1
246      201600000163         1
247      201600000164         1
248      201600000164         1
249      201600000165         1
...               ...       ...
1433139  200500087803         1
1433140  200500087804         1
1433141  200500087804         1
1433142  200500087805         1
1433143  200500087805         1
1433144  200500087806         1
1433145  200500087807         1
1433146  200500087808         1
1433147  200500087809         1
1433148  200500087810         1
1433149  200500087810         1
1433150  200500087811         1
1433151  200500087812         1
1433152  200500087813         1
1433153  200500087814         1
1433154  200500087815         1
1433155  200500087815         1
1433156  200500087816         1
1433157  200500087817         1
1433158  200500087818         1
1433159  200500087818         1
1433160  200500087819         1
1433161  200500087819         1
1433162  200500087820         1
1433163  200500087821         1
1433164  200500087822         1
1433165  200500087822         1
1433166  200500087823         1
1433167  200500087823         1
1433168  200500087824         1
1433169  200500087824         1
1433170  200500087825         1
1433171  200500087825         1
1433172  200500087825         1
1433173  200500087826         1
1433174  200500087826         1
1433175  200500087827         1
1433176  200500087828         1
1433177  200500087829         1
1433178  200500087830         1
1433179  200500087831         1
1433180  200500087832         1
1433181  200500087832         1
1433182  200500087833         1
1433183  200500087834         1
1433184  200500087834         1
1433185  200500087835         1
1433186  200500087835         1
1433187  200500087836         1
1433188  200500087837         1
1433189  200500087838         1
1433190  200500087839         1
1433191  200500087840         1
1433192  200500087841         1
1433193  200500087842         1
1433194  200500087842         1
1433195  200500087843         1
1433196  200500087844         1
1433197  200500087844         1
1433198  200500087845         1
1433199  200500087846         1
1433200  200500087846         1
1433201  200500087847         1
1433202  200500087847         1
1433203  200500087848         1
1433204  200500087848         1
1433205  200500087848         1
1433206  200500087849         1
1433207  200500087850         1
1433208  200500087850         1
1433209  200500087851         1
1433210  200500087852         1
1433211  200500087852         1
1433212  200500087853         1
1433213  200500087853         1
1433214  200500087853         1
1433215  200500087854         1
1433216  200500087854         1
1433217  200500087855         1
1433218  200500087855         1
1433219  200500087856         1
1433220  200500087856         1
1433221  200500087856         1
1433222  200500087857         1
1433223  200500087857         1
1433224  200500087858         1
1433225  200500087859         1
1433226  200500087859         1
1433227  200500087860         1
1433228  200500087861         1
1433229  200500087862         1
1433230  200500087863         1
1433231  200500087864         1
1433232  200500087864         1
1433233  200500087865         1
1433234  200500087865         1
1433235  200500087865         1
1433236  200500087865         1
1433237  200500087866         1
1433238  200500087867         1
1433239  200500087868         1
1433240  200500087869         1
1433241  200500087869         1
1433242  200500087869         1
1433243  200500087869         1
1433244  200500087870         1
1433245  200500087870         1
1433246  200500087871         1
1433247  200500087872         1
1433248  200500087873         1
1433249  200500087873         1
1433250  200500087874         1
1433251  200500087874         1
1433252  200500087875         1
1433253  200500087875         1
1433254  200500087876         1
1433255  200500087876         1
1433256  200500087877         1
1433257  200500087877         1
1433258  200500087878         1
1433259  200500087878         1
1433260  200500087879         1
1433261  200500087879         1
1433262  200500087880         1
1433263  200500087881         1
1433264  200500087881         1
1433265  200500087882         1
1433266  200500087882         1
1433267  200500087883         1
1433268  200500087883         1
1433269  200500087884         1
1433270  200500087884         1
1433271  200500087885         1
1433272  200500087885         1
1433273  200500087886         1
1433274  200500087887         1
1433275  200500087888         1
1433276  200500087889         1
1433277  200500087889         1
1433278  200500087890         1
1433279  200500087890         1
1433280  200500087891         1
1433281  200500087892         1
1433282  200500087892         1
1433283  200500087893         1
1433284  200500087893         1
1433285  200500087894         1
1433286  200500087894         1
1433287  200500087895         1
1433288  200500087896         1
1433289  200500087896         1
1433290  200500087897         1
1433291  200500087897         1
1433292  200500087898         1
1433293  200500087898         1
1433294  200500087899         1
1433295  200500087900         1
1433296  200500087900         1
1433297  200500087901         1
1433298  200500087901         1
1433299  200500087902         1
1433300  200500087902         1
1433301  200500087903         1
1433302  200500087903         1
1433303  200500087904         1
1433304  200500087904         1
1433305  200500087905         1
1433306  200500087905         1
1433307  200500087906         1
1433308  200500087907         1
1433309  200500087907         1
1433310  200500087908         1
1433311  200500087909         1
1433312  200500087909         1
1433313  200500087910         1
1433314  200500087911         1
1433315  200500087912         1
1433316  200500087912         1
1433317  200500087913         1
1433318  200500087914         1
1433319  200500087915         1
1433320  200500087915         1
1433321  200500087915         1
1433322  200500087916         1
1433323  200500087917         1
1433324  200500087917         1
1433325  200500087918         1
1433326  200500087918         1
1433327  200500087919         1
1433328  200500087919         1
1433329  200500087920         1
1433330  200500087920         1
1433331  200500087921         1
1433332  200500087921         1
1433333  200500087922         1
1433334  200500087922         1
1433335  200500087922         1
1433336  200500087923         1
1433337  200500087924         1
1433338  200500087924         1
1433339  200500087925         1
1433340  200500087925         1
1433341  200500087926         1
1433342  200500087926         1
1433343  200500087927         1
1433344  200500087927         1
1433345  200500087928         1
1433346  200500087929         1
1433347  200500087929         1
1433348  200500087930         1
1433349  200500087930         1
1433350  200500087931         1
1433351  200500087931         1
1433352  200500087932         1
1433353  200500087932         1
1433354  200500087932         1
1433355  200500087933         1
1433356  200500087933         1
1433357  200500087934         1
1433358  200500087935         1
1433359  200500087936         1
1433360  200500087936         1
1433361  200500087937         1
1433362  200500087938         1
1433363  200500087938         1
1433364  200500087939         1
1433365  200500087940         1
1433366  200500087940         1
1433367  200500087941         1
1433368  200500087942         1
1433369  200500087943         1
1433370  200500087944         1
1433371  200500087944         1
1433372  200500087945         1
1433373  200500087945         1
1433374  200500087946         1
1433375  200500087947         1
1433376  200500087947         1
1433377  200500087948         1
1433378  200500087949         1
1433379  200500087950         1
1433380  200500087950         1
1433381  200500087951         1
1433382  200500087951         1
1433383  200500087952         1
1433384  200500087952         1
1433385  200500087953         1
1433386  200500087953         1
1433387  200500087953         1
1433388  200500087954         1

[1431393 rows x 2 columns]

In [26]:
agg_vehicles = group_vehicles.agg('sum')
agg_vehicles['AccidentID'] = agg_vehicles.index
agg_vehicles.head()

              Vehicles    AccidentID
AccidentID
200500000001         2  200500000001
200500000002         2  200500000002
200500000003         2  200500000003
200500000004         3  200500000004
200500000005         1  200500000005

In [14]:
c_h = pd.merge(carac, holi_range, on=['Month', 'Day'], how='left')

In [15]:
c_h_p = pd.merge(c_h, places, on='AccidentID')

In [28]:
c_h_p_u = pd.merge(c_h_p, agg_users, on='AccidentID')

In [31]:
c_h_p_u_v = pd.merge(c_h_p_u, agg_vehicles, on='AccidentID')

In [34]:
c_h_p_u_v.columns.values

array(['AccidentID', 'Year', 'Month', 'Day', 'Hour', 'LightingCondition',
       'Localisation', 'Intersection', 'AtmosphericCondition',
       'CollisionType', 'Municipality', 'Address', 'GpsCoding',
       'Latitude', 'Longitude', 'Department', 'DateTime', 'Date', 'Time',
       'Minute', 'Weekdays', 'HolidayRange', 'Holiday', 'RoadCategory',
       'RoadNumber', 'RouteNumber', 'RouteName', 'TrafficType',
       'NumberofLanes', 'HomePRNumber', 'PRDistance', 'OuterLane', 'prof',
       'LaneStructure', 'CentralLaneWidth', 'OuterLaneWidth',
       'SurfaceCondition', 'Infrastructure', 'SituationofAccident',
       'SchoolPoint', 'Users', 'UserCategory_1', 'UserCategory_2',
       'UserCategory_3', 'UserCategory_4', 'Severity_1', 'Severity_2',
       'Severity_3', 'Severity_4', 'Sex_1', 'Sex_2', 'Vehicles'],
      dtype=object)

In [32]:
column = []
merged = c_h_p_u_v[column]
merged.head()

     AccidentID  Year  Month  Day  Hour  LightingCondition  Localisation  Intersection  AtmosphericCondition  CollisionType  Municipality              Address GpsCoding  Latitude Longitude  Department            DateTime        Date      Time  Minute  Weekdays  HolidayRange       Holiday  RoadCategory RoadNumber  RouteNumber RouteName  TrafficType  NumberofLanes  HomePRNumber  PRDistance  OuterLane  prof  LaneStructure  CentralLaneWidth  OuterLaneWidth  SurfaceCondition  Infrastructure  SituationofAccident  SchoolPoint  Users  UserCategory_1  UserCategory_2  UserCategory_3  UserCategory_4  Severity_1  Severity_2  Severity_3  Severity_4  Sex_1  Sex_2  Vehicles
0  201600000001    16      2    1    14                  1             2             1                   8.0            3.0           5.0   46, rue Sonneville         M       0.0         0         590 2016-02-01 14:45:00  2016-02-01  14:45:00      45         0           NaN           NaN           3.0         39          NaN       NaN          2.0            0.0           NaN         NaN        0.0   1.0            3.0               0.0             0.0               1.0             0.0                  1.0          0.0      2               2               0               0               0           1           0           1           0      1      1         2
1  201600000002    16      3   16    18                  1             2             6                   1.0            6.0           5.0  1a rue du cimetire         M       0.0         0         590 2016-03-16 18:00:00  2016-03-16  18:00:00       0         2           NaN           NaN           3.0         39          NaN       NaN          1.0            0.0           NaN         NaN        0.0   1.0            2.0               0.0            58.0               1.0             0.0                  1.0          0.0      3               1               2               0               0           0           0           3           0      2      1         1
2  201600000003    16      7   13    19                  1             1             1                   1.0            6.0          11.0                  NaN         M       0.0         0         590 2016-07-13 19:00:00  2016-07-13  19:00:00       0         2          -1.0  Bastille Day           3.0          1          NaN       NaN          2.0            2.0           NaN         NaN        0.0   1.0            3.0               0.0            68.0               2.0             0.0                  3.0         99.0      2               1               0               1               0           1           0           1           0      2      0         1
3  201600000003    16      7   13    19                  1             1             1                   1.0            6.0          11.0                  NaN         M       0.0         0         590 2016-07-13 19:00:00  2016-07-13  19:00:00       0         2          -1.0  Bastille Day           3.0          1          NaN       NaN          2.0            2.0           NaN         NaN        0.0   1.0            3.0               0.0            68.0               2.0             0.0                  3.0         99.0      2               1               0               1               0           1           0           1           0      2      0         1
4  201600000003    16      7   13    19                  1             1             1                   1.0            6.0          11.0                  NaN         M       0.0         0         590 2016-07-13 19:00:00  2016-07-13  19:00:00       0         2          -1.0  Bastille Day           3.0          1          NaN       NaN          2.0            2.0           NaN         NaN        0.0   1.0            3.0               0.0            68.0               2.0             0.0                  3.0         99.0      2               1               0               1               0           1           0           1           0      2      0         1

In [33]:
merged.to_csv('dataset/agg.csv.gz', compression='gzip', encoding='utf-8', index=False)